[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-vibration
Exec=harbour-vibration
Name=VibrationTest
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=VibrationTest
Name[ru]=VibrationTest
Name[fr]=VibrationTest
Name[zh_cn]=VibrationTest
